.dark * {
    background:rgb(16 16 16);
    color: white;
}
.dark .nav-main a {
    background:transparent;
    color: white !important;
}
.dark .nav-main a:hover {
    background:rgb(131, 3, 3);
    color: rgb(255, 255, 255) !important;
}
.dark .nav-main a i {
    color: white !important;
    background: transparent;
}.dark .nav-main a span {
    color: white !important;
    background: transparent;
}
.dark #mainLogo {
    max-width: 200px !important;
    margin: 10px auto;
    display: block;
    background: white;
    padding: 10px;
    border-radius: 8px;
}
.dark body {
    background-color: rgb(16 16 16);
}
.dark ::placeholder {
    color:white;
    
}
.dark .select2-selection__choice__remove {
    background:transparent !important;
}
.dark .block-content {
    border: solid 1px #212529;
}